.rac-no-wrap{
  overflow: visible;
  white-space: nowrap;
}

.container{
  margin: auto;
  padding-top: 15px;
}

.file {
  color: blue;
}

.rac-sticky-nav-bar{
  padding-bottom: 0;
  padding-top: 10px;
}